<div class="bbTimeList container" id="bbTimeList">
    <i class="bber-logo heofont icon-bblogo" onclick="pjax.loadUrl('/says/')" style="font-size: 2rem;"></i>
    <div class="swiper-container swiper-no-swiping swiper-container-initialized swiper-container-vertical swiper-container-pointer-events"
        id="bbtalk" tabindex="-1" onclick="pjax.loadUrl('/says/')">
        <div class="swiper-wrapper" id="bber-talk">
            
        </div>
    </div>
    <i class="bber-gotobb fas fa-arrow-circle-right" title="查看全文" onclick="pjax.loadUrl('/says/')"></i>
</div>