<div class="needEndHide cw-hide" id="cookies-window" >
    <div class="cookies-window-title">协议提醒助手</div>
    <div class="cookies-window-content">
        <span class="cookies-tip">查看本站为你的个人隐私做出的努力</span>
        <a class="cookies-link" href="/privacy/" title="本站如何保护你的隐私" data-pjax-state="">
            <i class="heofont icon-arrow-right-circle-fill">

            </i>
        </a>
    </div>
</div>