<% if (theme.about) { %>
<div id="about-page">
    <%- partial('partial/compoment/about/authorinfo' ) %>
    <%- partial('partial/compoment/about/hobbies' ) %>
    <%- partial('partial/compoment/about/other' ) %>
    <%- partial('partial/compoment/about/award' ) %>
</div>
<% } %>