<% const authorinfo = site.data.about.authorinfo; %>

<div class="author-info">
  <div class="author-tag-left">
    <% authorinfo.leftTags.forEach(tag => { %>
      <span class="author-tag"><%= tag %></span>
    <% }); %>
  </div>
  <div class="author-img">
    <img src="<%= authorinfo.image %>" >
  </div>
  <div class="author-tag-right">
    <% authorinfo.rightTags.forEach(tag => { %>
      <span class="author-tag"><%= tag %></span>
    <% }); %>
  </div>
</div>
<div class="author-content">
    <div class="create-site-post author-content-item single">
      <div class="author-content-item-tips">心路历程</div><span class="author-content-item-title">为什么建站？</span>
      <%- page.content %>
    </div>
</div>