<div class="post-ai">
    <div class="ai-title">
        <i class="heofont icon-jiqiren ai-title-icon"></i>
        <div class="ai-title-text">AI摘要</div>
        <div class="ai-tag">GPT-4.0</div>
    </div>
    <div class="ai-explanation" >
        <%= page.excerpt %>
    </div>
</div>